.DS_Store
.gradle
.idea/*
build/
out/
cache/
proguard/plugin-obfuscated.jar
proguard/proguard*.jar
proguard/proguard*.tar.gz
proguard/proguard*.zip
proguard/kite-plugin.map
proguard/kite-pycharm-obfuscated-*
proguard/kite-pycharm/
proguard/kite-pycharm-unobfuscated/
proguard/pycharm-community-*
proguard/cache/
proguard/caches/
proguard/tmp/
proguard/proguard.log
aws-build.sh
